@using GalacticDataExchange.Shared;
@inherits LayoutComponentBase

@inject SessionState SessionState

<CascadingValue Value="SessionState">
	<div class="page">
		<div class="sidebar">
			<NavMenu />
		</div>
		<main>
			<article class="content px-4">
			@Body
			</article>
			<footer class="footer">
				<div class="footer-content">
					<p>Galactic Data Exchange &copy; 2023</p>
				</div>
			</footer>
		</main>
	</div>
</CascadingValue>