@page "/dataArtifactPage"

<div class="container my-5">
	<div class="row">
		<div class="col-12">
			<div class="card shadow-sm">
				<div class="card-header">
					<h5 class="card-title">Data Artifact Page</h5>
				</div>
				<div class="card-body">
					<div class="mb-3">
						<label for="dataArtifactName" class="form-label">Name</label>
						<input type="text" class="form-control" id="dataArtifactName" placeholder="Name" @bind="_Name" />
					</div>
					<div class="mb-3">
						<label for="dataArtifactTypeID" class="form-label">Artifact Type ID</label>
						<InputSelect class="form-select" id="dataArtifactTypeID" @bind-Value="_ArtifactTypeID">
							<option value="0">-- Select Artifact Type --</option>
							<option value="1">Holographic Memory Cube</option>
							<option value="2">Encrypted Sensor Log</option>
							<option value="3">Digital Relic Image</option>
						</InputSelect>
					</div>
					<div class="mb-3">
						<label for="dataArtifactSource" class="form-label">Source</label>
						<input type="text" class="form-control" id="dataArtifactSource" placeholder="Source" @bind="_Source" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private string _Name { get; set; } = String.Empty;
	private int _ArtifactTypeID { get; set; } = 0;
	private string _Source { get; set; } = String.Empty;

}
