@page "/"

<div class="container my-5">
	<div class="row">
		<div class="col-md-12">
			<div class="card shadow-sm">
				<div class="card-header">
					<h5 class="card-title">Welcome to the Galactic Data Exchange</h5>
				</div>
				<div class="card-body">
					<img src="images/GalacticDataExchangeHome.png" alt="Galactic Data Exchange Home" class="img-fluid rounded" />
				</div>
			</div>
		</div>
	</div>
</div>