@page "/login"

@using GalacticDataExchange.Shared;

@inject NavigationManager NavigationManager

<EditForm Model="@LoginModel" OnValidSubmit="HandleLogin">
	<DataAnnotationsValidator />
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card shadow-sm">
					<div class="card-header text-center">
						<img src="images/galacticlogo2.png" alt="Galactic Data Exchange logo" class="img-fluid logo-img mb-2" />
						<h5 class="card-title mb-0">Login</h5>
					</div>
					<div class="card-body">
						<div class="mb-3">
							<label for="email" class="form-label">Email</label>
							<InputText id="email" class="form-control" placeholder="Enter your email" @bind-Value="LoginModel.Email" />
							<ValidationMessage For="@(() => LoginModel.Email)" />
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Password</label>
							<InputText id="password" type="password" class="form-control" placeholder="Enter your password" @bind-Value="LoginModel.Password" />
							<ValidationMessage For="@(() => LoginModel.Password)" />
						</div>
						<button class="btn btn-primary rounded-pill">Submit</button>
					</div>
					@if (!string.IsNullOrEmpty(ErrorMessage))
					{
						<div class="alert alert-danger" role="alert">
							<p>@ErrorMessage</p>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	<ValidationSummary />
</EditForm>
@code {

	LoginInputModel LoginModel { get; set; } = new LoginInputModel();
	private string ErrorMessage { get; set; } = String.Empty;


	private void HandleLogin()
	{
		if (!string.IsNullOrEmpty(LoginModel.Email) && !string.IsNullOrEmpty(LoginModel.Password))
		{
			NavigationManager.NavigateTo("/dataArtifactPage");
		}
		else
		{
			ErrorMessage = "Please enter valid credentials.";
		}
	}
}
